/*General*/
body{
    margin: 0mm;
    padding: 0mm;
    border: 0mm;
    color:lightgreen;
    background-color: black;
}
footer{
    color:whitesmoke;
    background-color: lightblue;
}    
hr{
    color:silver;
}
.celeste{
    background-color: lightblue;
}
/*Navbar*/
.navbar{
    background-color: transparent;
    position:fixed;
    width: 100%;
    z-index: 1;
}
.navbarimg {
    height:1.5rem;
}
/* Carrusel*/
.img_crl{
    max-height:17cm;
}
*Destacado*/
#SDestacado h5{
    color:grey;
}
#SDestacado p{
    color:grey;
}
.img-sz{
    width: 100%;
    height: 5cm;
}
