/*General*/
:root{
    --cl_prin:lightgreen;
    --cl-S2:whitesmoke;
    --cl-S3:silver;
    --cl-s4:grey;
    --fondo:black;
    --fondo2:lightblue;
    --FLetra:'Roboto'    
}
body{
    margin: 0mm;
    padding: 0mm;
    border: 0mm;
    color:var(--cl_prin);
    background-color:var(--fondo);
    font-family: var(--FLetra),sans-serif;
    font-weight: 300;
}
footer{
    color:var(--cl-S2);
    background-color: var(--fondo2);
    font-weight: 500;
}    
h2{
    font-weight: 500;
}
h5{
    color:var(--cl-s4);
    font-weight: 500;
}
hr{
    color:var(--cl-S3);
}
.celeste{
    background-color: var(--fondo2);
}
/*Navbar*/
.navbar{
    background-color: transparent;
    position:fixed;
    width: 100%;
    z-index: 1;
}
.navbarimg {
    height:1.5rem;
}
/* Carrusel*/
.img_crl{
    max-height:18cm;
}
/*Destacado*/
#SDestacado p{
    color:var(--cl-s4);
}
.img-sz{
    width: 100%;
    height: 5cm;
}
/*Modal*/
.la{
    color:black;
}